@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --background-primary: rgb(58, 58, 91);
    --font-color: rgb(225, 225, 225);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    background-image: url('/assets/images/space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--font-color);
    background-color: rgb(0, 11, 68);
}

h1 {
    font-size: 2.5rem;
    background-color: var(--background-primary);
    width: fit-content;
    padding: 20px;
    margin: auto;
    line-height: 2.5rem;
    border-radius: 10px;
}

h2 {
    font-size: 2rem;
    margin-top: -5px;
}

#rules {
    font-size: 1.5rem;
}

#game-area {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-primary);
}

#points-lives {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-primary);
}

#game-area h1 h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choice {
    width: 15vw;
}

.submit {
    display: flex;
    margin: auto;
    margin-top: 25px;
    width: 10%;
    justify-content: center;
}

#points-lives {
    display: flex;
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

.counters {
    margin: 0 20px;
}

.result {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
    font-size: 1.25rem;
}

#points-lives {
    font-size: 1.5rem;
}

#reset {
    min-width: fit-content;
    width: 12vw;
    height: auto;
    padding: 10px 15px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 15px;
    border-style: none;
    
    color: var(--font-color);
    background-color: rgb(7, 43, 73);
}

#reset-func {
    margin-bottom: 20px;
}

#rock {
    background: url('/assets/images/rock.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 6vw;
    border: none;
}

#paper {
    background: url('/assets/images/paper.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 6vw;
    border: none;
}

#scissors {
    background: url('/assets/images/scissors.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 6vw;
    border: none;
}

#lizard {
    background: url('/assets/images/lizard.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 6vw;
    border: none;
}

#spock {
    background: url('/assets/images/spock.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 6vw;
    border: none;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
        padding: 10px 15px;
    }

    h2 {
        font-size: 1.25rem;
        margin-bottom: -10px;
    }

    #rules {
        font-size: 1rem;
    }

    .button-area {
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    .button-area > button {
        justify-content: center;
        margin: auto;
        margin-top: 1vh;
    }

    .button-area > button:nth-child(4),
    .button-area > button:nth-child(5) {
        margin-top: 5vh;
    }

    .choice {
        width: 28vw;
    }

    .result {
        margin-top: 10px;
    }

    #reset {
        margin-bottom: 20px;
    }

    #reset-func {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1200px) {
    body {
        background-size: auto;
    }

    #rock,
    #paper,
    #scissors,
    #lizard,
    #spock {
        height: 10vh;
    }

    #reset {
        padding: 15px;
    }
}

@media screen and (min-width: 5120px) {
    #game-area {
        width: 50%;
    }
}